.button {
  width: 302px;
  padding: 9px 19px 7px 19px;
  background-color: @color-light;
  .placeholder;
  color: @color-base;
  border: none;


  &--color {
    background-color: @bg-attend-light;
    color: @color-light;
  }
}
