



// TODO:
// - кнопки должны получить w100% на всех экранах
// - никакого флоата не нужно
// - никаких маргинов не нужно
// — это все должно контролироваться обертками формы
// - исключение — отдельно стоящая кнопка заказать звонок
// [AA] 2015/07/02


.button {
  display: block;
  // float: right;
  // [AA] 2015/07/02
  margin-right: 0;
  // width: 302px;
  width: 100%;
  // [AA] 2015/07/02
  padding: 12px 19px 11px 19px;
  background-color: @color-light;
  .placeholder;
  color: @color-base;
  border: none;
  text-decoration: none;
  .transition;

  &:hover {
    background-color: darken(@color-light, 12%);
  }
  &:active {
    background-color: darken(@color-light, 17%);
  }



  &--color {
    // float: right;
    // [AA] 2015/07/02
    background-color: @bg-attend-light;
    color: @color-light;

    &:hover {
      background-color: darken(@bg-attend-light, 7%);
    }
    &:active {
      background-color: darken(@bg-attend-light, 14%);
    }
  }



  &--position {
    float: none;
    margin: 0 auto;
  }
}






@media(min-width: 801px) and (max-width: 1079px) {
  .button {
    width: 220px;
    float: right;

  &--position {
    width: 302px;
    float: none;
    margin: 0 auto;
  }
  }
}







@media(min-width: 541px) and (max-width: 800px) {
  .button {
    // width: 320px;
    padding-top: 11px;
    padding-bottom: 9px;
    margin: 0 auto;
    float: none;
  }
}




@media(min-width: 320px) and (max-width: 540px) {
  .button {
    // width: 300px;
    padding-bottom: 7px;
    float: none;
    margin: 0 auto;
  }
}
