.button {
  display: block;
  width: 100%;
  padding: 12px 19px 11px 19px;
  background-color: @color-light;
  .placeholder;
  color: @color-base;
  border: none;
  text-decoration: none;
  .transition;
  outline: none;

  &:hover {
    background-color: darken(@color-light, 12%);
    outline: none;
  }
  &:active {
    background-color: darken(@color-light, 17%);
    outline: none;
  }



  &--color {
    background-color: @bg-attend-light;
    color: @color-light;

    &:hover {
      background-color: darken(@bg-attend-light, 7%);
    }
    &:active {
      background-color: darken(@bg-attend-light, 14%);
    }
  }



  &--position {
    width: 302px;
    margin: 0 auto;
  }



  &--popup {
    border-radius: 3px;
  }
}






@media(min-width: 801px) and (max-width: 1079px) {
  .button {

    &--position {
      width: 302px;
      margin: 0 auto;
    }
  }
}







@media(min-width: 541px) and (max-width: 800px) {
  .button {
    padding-top: 11px;
    padding-bottom: 9px;




    &--position {
      width: 302px;
      margin: 0 auto;
    }
  }
}




@media(max-width: 540px) {
  .button {
    padding-bottom: 7px;
    margin: 0 auto;





    &--position {
      width: 302px;
      margin: 0 auto;
    }
  }
}
