.contacts {
  width: 33%;
  float: right;
  text-align: left;
  color: @color-light;
  font-weight: 400;





  &__address {
    margin-bottom: 7px;
    font-style: normal;
    line-height: 27px;
  }
  &__details {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 22px;
  }
  &__details-part {
    text-transform: uppercase;
  }
}



@media(min-width: 541px) and (max-width: 800px) {
  .contacts {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
    &__details {
      margin-bottom: 10px;
    }
  }
}




@media(max-width: 540px) {
    .contacts {
      width: 100%;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 20px;
      padding: 0;
    &__details {
      margin-bottom: 0;
    }
  }
}
