.form {
  padding: 0 43px 45px 43px;
  display: flex;



  &__input {
    width: 302px;
    padding: 9px 19px 7px 19px;
    background-color: @bg-attend-dark;
    border: 2px solid @border-light;
    margin-right: 30px;
    outline: none;
    .transition;

    &:hover {
      background-color: darken(@bg-attend-dark, 5%);
      border-color: darken(@border-light, 15%);
      cursor: pointer;
    }
    &:focus {
      background-color: white;
      color: @color-decor;
    }




     &::-webkit-input-placeholder {
      .placeholder;
      color: @color-light;
    }

    &:-moz-placeholder {
      .placeholder;
      color: @color-light;
    }
  }



    &--popup {
    flex-direction: column;
    width: 320px;
    padding: 0 0 30px 0;
    margin-left: auto;
    margin-right: auto;

    .input {
      width: 320px;
      margin-right: 0;
      margin-bottom: 25px;
      border-radius: 3px;
      border: 1px solid @bg-attend-dark;
    }



    .input__field:focus + .input__label {
      background-color: darken(@bg-attend-dark, 5%);
      border-color: darken(@bg-attend-dark, 15%);
    }

    .button {
      width: 320px;
      padding-top: 11px;
      padding-bottom: 9px;
      border-radius: 3px;
    }
  }
}




@media(min-width: 541px) and (max-width: 800px) {
  .form {
    flex-direction: column;
    padding: 0 0 30px 0;
    margin-left: auto;
    margin-right: auto;
  }
}




@media(min-width: 320px) and (max-width: 540px) {
  .form {
    flex-direction: column;
    padding: 0 0 30px 0;
    &__input {
      width: 300px;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}
