.form {

  @offset: 10px;

  .cf;
  padding: 0 (43px - @offset) 45px (43px - @offset);
  // [AA] 2015/07/02

  display: block;


  // TODO:
  // - сделать размеры и отступы в попапе только за счет form__block-wrap
  // - предусмотреть через минимальную высоту form__block-wrap место для вывода ошибок
  // (при сообщении об ошибке форма не должна дергаться). Стили и размеры на твой вкус, у тебя классно получается
  &--popup {
    width: 320px;
    padding: 0 0 30px 0;
    margin-left: auto;
    margin-right: auto;



    // TODO:
    // - изменить бордеры через модификаторы input, в файле input.less
    // - никакого наследования для разных бэм блоков
    .input {
      border-radius: 3px;
      border: 1px solid @bg-attend-dark;
    }



    .input__field:focus + .input__label {
      background-color: darken(@bg-attend-dark, 5%);
      border-color: darken(@bg-attend-dark, 15%);
    }


    // TODO:
    // -  и спецмодификатор для кнопки в button.less
    .button {
      padding-top: 11px;
      padding-bottom: 9px;
      border-radius: 3px;
    }
  }



  &__block-wrap {
    width: 33.33%;
    float: left;
    padding: 0 @offset;
  }



  &__label-error {
    display: block;
    padding: 8px 2px 0;
    text-align: left;
    color: @color-error;
  }

}




@media(min-width: 801px) and (max-width: 1079px) {
  .form {
    padding: 0 0 30px 0;
  }
}




@media(min-width: 541px) and (max-width: 800px) {
  .form {
    padding: 0 0 30px 0;
    margin-left: auto;
    margin-right: auto;



    &__block-wrap {
      // width: 100%;
      width: 460px;
      padding: 0;
      margin: 0 auto 20px;
      float: none;
    }
  }
}




@media(max-width: 540px) {
  .form {
    padding: 0 0 30px 0;

      &__block-wrap {
      width: 300px;
      padding: 0;
      margin: 0 auto 20px;
      float: none;
    }
  }
}
