.form {

  @offset: 10px;

  .cf;
  padding: 0 (43px - @offset) 45px (43px - @offset);
  // [AA] 2015/07/02

  display: block;


  // TODO:
  // - сделать размеры и отступы в попапе только за счет form__block-wrap +
  // - предусмотреть через минимальную высоту form__block-wrap место для вывода ошибок +
  // (при сообщении об ошибке форма не должна дергаться). Стили и размеры на твой вкус, у тебя классно получается
  &--popup {
    width: 460px;
    margin-left: auto;
    margin-right: auto;
  }



  &__block-wrap {
    min-height: 70px;
    width: 33.33%;
    float: left;
    padding: 0 @offset;
  }



  &__block-wrap--popup {
    width: 100%;
  }



  &__label-error {
    display: block;
    padding: 0 2px 0;
    text-align: left;
    color: @color-error;
  }
}




@media(min-width: 801px) and (max-width: 1079px) {
  .form {
    padding: 0 0 30px 0;




    &__label-error {
      font-size: 15px;
    }




    &--popup {
      .form__label-error {
        font-size: @fz-base;
      }
    }



  }
}




@media(min-width: 541px) and (max-width: 800px) {
  .form {
    padding: 0 0 30px 0;
    margin-left: auto;
    margin-right: auto;



    &__block-wrap {
      width: 460px;
      padding: 0;
      float: none;
    }
  }
}




@media(max-width: 540px) {
  .form {
    padding: 0 0 30px 0;

    &__block-wrap {
      width: 300px;
      padding: 0;
      float: none;
    }



    &__block-wrap--popup {
      width: 100%;
    }



    &--popup {
      width: 100%;
    }



    &__label-error {
      font-size: 15px;
    }
  }
}
