.map {
  width: 67%;
  float: left;

  &__yandex {
    width: 592px;
    height: 279px;
    margin: 0 auto;
    border: 1px solid @border-light;
  }
}




@media(min-width: 760px) and (max-width: 1079px) {
  .map {
    width: 100%;
    order: 2;

    &__yandex {
      width: 600px;
      height: 279px;
      margin: 0 auto;
      border: 1px solid @border-light;
    }
  }
}




@media(min-width: 1px) and (max-width: 759px) {
    .map {
    width: 100%;
    order: 2;

    &__yandex {
      width: 300px;
      height: 270px;
      margin: 0 auto;
      border: 1px solid @border-light;
    }
  }
}
