.page-header {
  position: relative;
  height: 348px;
  padding-top: 118px;
  background: url(../img/bg-head.jpg) 50% 50% no-repeat;
  background-size: 100% auto;
}

@media(min-width: 760px) and (max-width: 1079px) {
  .page-header {
      background-color: red;
  }
}
