.support {
  padding: 0 0 27px 0;
  margin-bottom: 51px;
  background-color: @bg-attend-light;
  &__header {
    padding-top: 26px;
    margin: 16px 0 16px 0;
  }
  &__text {}
  &__button {
    margin-right: 5px;
    padding-bottom: 10px;
    width: 300px;
  }
}
