// if js disabled
.no-js {

    .input {
    position: relative;
    vertical-align: top;
    display: block;
    width: 302px;
    margin-left: auto;
    margin-right: auto;
    outline: none;



    &__field {
      width: 302px;
      display: block;
      float: right;
      padding: 10px 10px;
      border: none;
      border-radius: 0;
      background: @bg-base;
      color: @color-base;
    }





    &__label {
      padding: 5px 0;
      color: @color-light;
      font-size: 18px;
      display: block;
      text-align: left;
      cursor: text;
    }
  }



  @media(min-width: 801px) and (max-width: 1079px) {
    .input {
      width: 220px;
      &__field {
        width: 220px;
      }
    }
  }





  @media(min-width: 541px) and (max-width: 800px) {
    .input {
        width: 320px;
        margin: 0 auto 20px auto;
      &__field {
        width: 320px;
      }
      &__label {
        font-size: 16px;
      }
    }
  }


  @media(min-width: 320px) and (max-width: 540px) {
    .input {
      width: 300px;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}

// if js enabled
.js {

}
