.social--facebook:before,
.icon-facebook {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../img/png-grunticon/facebook.png');
  background-repeat: no-repeat;
  width: 25px;
  height: 2885px;
}


.social--instagram:before,
.icon-instagram {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../img/png-grunticon/instagram.png');
  background-repeat: no-repeat;
  width: 19px;
  height: 8773px;
}


.logo__icon--logo:before,
.icon-logo {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../img/png-grunticon/logo.png');
  background-repeat: no-repeat;
  width: 250px;
  height: 1989px;
}


.detail__icon--star:before,
.icon-star {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../img/png-grunticon/star.png');
  background-repeat: no-repeat;
  width: 24px;
  height: 3733px;
}


.social--vk:before,
.icon-vk {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../img/png-grunticon/vk.png');
  background-repeat: no-repeat;
  width: 25px;
  height: 16773px;
}


